#root{
    --primary-box-shadow:rgb(28 28 28 / 8%) 0px 2px 8px;
    --border-white:rgb(232, 232, 232);
    --primary-bg:rgb(255, 255, 255);
    --zomato-location-grey : #828282;
    --zomato-location-color: #ff7e8b;
    --inactive-text:#696969;
    --inactive-color:#F8F8F8;
    --filter-text:#9C9C9C;
    --heading-text:#1C1C1C;
    --corousal-backgrounf-color:#f9f9f9

}